.input {
  background-color: white;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  border: 0.5px solid gray;
  background: none;
  outline: none;
  width:100%;
  padding: 10px;
  border-radius: 20px;
  margin: 3px;
  margin-right:10px;

}
button{
  padding:10px;
}
input:focus{
  outline: none;
}